/*Introduction 1st page*/
body{
    background-image: url('file:///C:/Users/Student/Pictures/School/app%20academy/fantasy_post_apocalyptic_apocalyptic_1366x768_23832.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.pic{
	padding-right: 5px;
}
.about-me{
	text-align: center;
}
html, h1{
	font-family: 'Shojumaru', cursive;
	color: orange;
}
div{
	border-width: 5px;
	padding: 30px;
}
.container {
	width:960px;
	margin:0px auto;
}
.row {
	padding-bottom: 40px;
}
.list-group-item{
	border: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title{
	padding-top: 40px;
	color: orange;	
}
.secret{
	width: 10px;
}
/*About me 2nd Page*/
.place{
	height: 400px; /*just to bring the text for about me over*/
}
.aboutme{
	text-align: center;
	color: white;
}
.text{
	font-family: 'Oswald', sans-serif;
	color: orange;
	font-size: 20px;
}
.anime{
	float: left;
}
.borderlands{
	float: left;
}
.bass{
	float: left;
}
/*Projects page*/
.text2{
	font-family: 'Oswald', sans-serif;
	color: orange;
	font-size: 20px;
	text-align: center;
	text-shadow: 0 0 0.2em #091209, 0 0 0.2em #091209}	
}

/*mediaqueries*/
@media screen and (max-width: 959px){
	.container {
	width:100%;
	margin:0px auto;
}
.col-xs-2{
	width: 20%;
}
.col-xs-10{
	width: 80%;
	}
	img{
		width: 100%;
	}
}	

@media screen and (max-width: 640px){
.col-xs-2{
	width: 100%;
}
.col-xs-10{
	width: 100%;
	}
.anime{
	width: 100%;
}
.borderlands{
	width: 100%;
}
.bass{
	width: 100%;
}
.img{
	width: 150px;
	height: 150px;
}
}
@media (max-width: 320px){
	.container{
			width: 320px;
		}
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 		<!-- Indicators -->
  		<ol class="carousel-indicators">
    		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
    		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
  		</ol>
  		<div class="carousel-inner">
    		<div class="item active">
      			<span class="img">
      				<img src="deadmansmall.jpg" alt="anime" class="img">
      			</span>
    			</div>
    		<div class="item">
      			<span class="img">
      				<img src="borderlandssmall.jpg" alt="videogame" class="img">
      			</span>
    		</div>
    		<div class="item">
      			<span class="img">
      				<img src="basssmall.jpg" alt="bass" class="img">
      			</span>
    		</div>
  		</div>
}
.img{
	width: 800px;
	height: 500px;
}